$primaryColor: #f6b220;
$backgroundColor: #ffffff;
$bpSmall: "only screen and (max-width: 767px)";
$bpMedium: "only screen and (max-width: 1023px)";


.meet-the-team__header{
  display: block;
  text-align: center;
  padding: 100px 20px;
  background: $primaryColor;

  h1{
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

.meet-the-team{
  width: 90%;
  max-width: 1300px;
  margin: 100px auto;
  text-align: center;

  a:hover{
    opacity: 0.85;
  }

  .meet-the-team__hr{
    display: inline-block;
    width: 88px;
    height: 2px;
    background: $primaryColor;

    &.meet-the-team__hr--hidden{
      background: transparent;
    }
  }

  //Archive Page

  .meet-the-team__staff-list-tile__content{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;

    h3{
      position: relative;
      font-size: 20px;
      color: #ffffff;
      margin-top: 10px;
      z-index: 1;
    }
  }

  .meet-the-team__staff-list-tile__content__gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#545454+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(84,84,84,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(84,84,84,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(84,84,84,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

  }

  .meet-the-team__staff-list-tile{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 2%;
    background-size: cover;
    background-position: center center;

    &:hover{
      opacity: 1;

      .meet-the-team__staff-list-tile__content{
        display: inline-block;
      }
    }

    @media #{$bpSmall}{
      width: 138px;
      height: 138px;
      margin: 1%;
    }
  }

  .meet-the-team__staff-list-wrapper{
    position: relative;

    .meet-the-team__vr{
      left: 20%;
      margin-top: -40px;
      z-index: 2;
    }
  }

  .meet-the-team__staff-list-left{
    float: left;
    width: 40%;

    h3{
      position: relative;
      margin-top: 50px;
      padding: 30px 0;
      background: $backgroundColor;
      z-index: 3;
    }


    @media #{$bpMedium}{
      width: 100%;

      h3{
        padding: 0;
        margin-top: 10px;
      }
    }
  }

  .meet-the-team__staff-list-right{
    float: left;
    width: 50%;
    margin-left: 10%;

    @media #{$bpMedium}{
      width: 100%;
      margin-left: 0;
    }
  }


  //Single Page

  .meet-the-team__go-back{
    text-align: right;
    margin: 0 0 70px 10px;
  }

  .meet-the-team__vr{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: $primaryColor;

    @media #{$bpMedium}{
      display: none;
    }
  }

  .meet-the-team__position{
    font-size: 1.2em;
    margin: 0;
    line-height: 1;
  }

  .meet-the-team__bio{
    padding: 0 5%;
  }

  .meet-the-team__top--less{
    height: 450px;
  }

  .meet-the-team__top__left,
  .meet-the-team__top__right{
    position: relative;
    float: left;
  }

  .meet-the-team__top__left{
    width: 40%;
    text-align: center;

    @media #{$bpMedium}{
      width: 100%;
    }
  }

  .meet-the-team__top__right{
    width: 58%;
    margin-left: 2%;
    height: 100%;
    overflow: hidden;

    @media #{$bpMedium}{
      width: 100%;
    }
  }

  .meet-the-team__info{
    margin-bottom: 20px;

    h3{
      margin-bottom: 10px;
    }

    .meet-the-team__social-icons i{
      padding: 10px;
    }
  }

  .meet-the-team__image-wrapper{
    display: inline-block;
    position: relative;
    max-width: 100%;
  }

  .meet-the-team__image,
  .meet-the-team__image-shadow{
    width: 400px;
    height: 450px;
    max-width: 100%;

    @media #{$bpMedium}{
      margin-bottom: 40px;
      width: 350px;
      height: 400px;
    }

    @media #{$bpSmall}{
      width: 260px;
      height: 310px;
    }
  }

  .meet-the-team__image{
    position: relative;
    background-size: cover;
    background-position: center center;
    z-index: 2;
  }

  .meet-the-team__image-shadow{
    $offset: -35px;

    position: absolute;
    top: $offset;
    left: $offset;
    background: $primaryColor;
    z-index: 1;

    @media #{$bpMedium}{
      $offset: -20px;

      top: $offset;
      left: $offset;
    }
  }

  .meet-the-team__show-more{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 7px;
    text-align: center;
    background: $backgroundColor;

    &.hidden{
      display: none !important;
    }
  }

  .meet-the-team__top--less .meet-the-team__show-more{
    display: block;
  }

  .meet-the-team__facts_title{
    margin: 40px 0;
  }

  .meet-the-team__facts{
    position: relative;

    .meet-the-team__facts__left,
    .meet-the-team__facts__right{
      float: left;
      width: 50%;

      @media #{$bpMedium}{
        width: 100%
      }
    }
  }

  .meet-the-team__fact{
    padding: 15px 60px;

    h3{
      font-size: 28px;
    }
  }
}